[package]
name = "sophia"
version = "0.4.0"
authors = ["Pierre-Antoine Champin <pchampin@liris.cnrs.fr>"]
description = "A Rust toolkit for RDF and Linked Data"
repository = "https://github.com/pchampin/sophia_rs"
documentation = "https://docs.rs/sophia"
readme = "../README.md"
license = "CECILL-C"
keywords = ["rdf", "linked-data", "semantic-web"]
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
default = []
xml = ["lazy_static", "percent-encoding", "quick-xml", "regex", "url"]

# This feature enables to use the graph and dataset test macros in other crates
export_test = ["lazy_static"]

[dependencies]
sophia_term = { version = "0.4", path = "../term" }
resiter = "0.4.0"
rio_api = { version = "0.4.1", features = ["generalized"] }
rio_turtle = { version = "0.4.0", features = ["generalized"] }
thiserror = "1.0.11"

lazy_static = { version = "1.4.0", optional = true }
percent-encoding = { version = "2.1.0", optional = true }
quick-xml = { version = "0.17.2", optional = true }
regex = { version = "1.3.5", optional = true }
url = { version = "2.1.1", optional = true }

[dev-dependencies]
test-case = "1.0.0"
lazy_static = "1.4.0"
